%h1 I love this
.ui.form
  = simple_form_for @achievement do |f| 
    .field
      = f.input :title 
      = f.input :description
      = f.input :privacy, collection: Hash[ Achievement.privacies.map { |k,v| [ k.split('_').first.capitalize, k ] }], :class => 'ui checkbox' 
      = f.input :featured, label: 'Featured achievement' 
      = f.input :cover_image, as: :file 

      %input{:type => "submit", :value => 'Create Achievement', :class => 'ui button' }
