<!DOCTYPE html>
<html>
    <head>
        <title>IRock</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="container-fluid">
            <li> <%= link_to "New Achievement", new_achievement_path %></li>
            <% if flash[:notice] %>
                <div class="alert alert-info"> <%= flash[:notice] %></div>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
